body{
    background-color: lightskyblue;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: .1fr 1fr .1fr ;    
}

header nav ul{
    display: flex;
    font-size: 15px;
    padding: 2px;
    margin: 5px; 
    background-color:white;
    justify-content: space-around;
}


main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    
}
article{
    background-color: white;
    max-width: 250px;
    padding: 20px;
    flex-grow: 1;
    margin: 10px;

}
article img{
    width: 100%;
}

article p{
    margin:20px
}
